<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AppURL" value="https://google.com"/>
        <add key="ApiURL" value="https://google.com"/>
        <add key="Browser" value="ff"/>
        <add key="BrowserVersion" value="88"/>
    </appSettings>
</configuration>
